* {
    box-sizing:content-box;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    

}

.START-SURVEY {
    text-align: center;
   
}

.START-SURVEY > #SuRvEy {

    color: white;
    Background-color: rgb(0, 0, 0);
    border-radius: 15pc;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

} 
    
header {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    font-weight: 100;
    font-size:xx-large;
    color: white;
    background-color: black;
    
    height: auto; /* This section is used to adjust the height of the baground colour/image of a specific part of html element*/
    width: auto ;

    background-position:right;

    /* by making the values of margin and padding different than the already specified values we can adjust background colour/image of specific element accound to our need */
    padding: 10px; /* Adjust the padding inside the header as needed */
    margin: 10px;
  
}

/* Section - it contains the HTML elements Which were created to the test the concept which allows to join any two different elements together in a single line */
section > .Master-Test{
    display: flex;
    align-items: center;
}

section > .Master-Test > .test-1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size:xx-small;
    color: white;
    background-color: red;
    
    height: fit-content; /* This section is used to adjust the height of the baground colour/image of a specific part of html element*/
    width: fit-content ;

    background-position:top;

    /* by making the values of margin and padding different than the already specified values we can adjust background colour/image of specific element accound to our need */
    padding: 0; /* Adjust the padding inside the header as needed */
    margin: 0;
}

section > .Master-Test > .test-2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size:xx-small;
    color: white;
    background-color: grey;
    
    height: fit-content; /* This section is used to adjust the height of the baground colour/image of a specific part of html element*/
    width: fit-content ;

    background-position:top;

    /* by making the values of margin and padding different than the already specified values we can adjust background colour/image of specific element accound to our need */
    padding: 10px; /* Adjust the padding inside the header as needed */
    margin: 10px;
}

body {

    /* background-image: url('/Users/pranavlikhi/Desktop/Web development folder/Media/Images/Background-images-for-webpages/For-Projects/Project-3-Background-image.jpg'); */

    background-color: white;

    background-size:contain;

    background-position:bottom;
    
    background-attachment: fixed;

    margin: 0;
    padding: 0;

}

 

.Survey-Master-Control {
    display:flex;
    align-items:self-start;
    align-content:flex-start;
    text-align:start;
    padding: 11px; /* Adjust the padding inside the header as needed */
    margin: 11px;

    
}

.Survey-Master-Control > .Questions {
    font-size: medium;
}


footer {
 background-color: black;
 box-sizing: border-box;
 margin: 0;
 padding: 0;

}

footer > pre{
    font-size: large;
    background-image: linear-gradient(to left, orange, red, orange, red, orange, orange, red , red);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.SUBMIT-BUTTON{
    
    text-align: center;
    
}

.SUBMIT-BUTTON > button {
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 15pc;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}